#login{
  margin-top: 3.9rem;
}
.inputFields{
  background-color: rgb(253, 253, 253);
  width: 18rem;
}
.form{
  background-color: #9897ff;
}
button:hover{
  background-color: rgb(18, 1, 255);
}
a{
  color: rgb(18, 1, 255);
  font-weight: 500;
}
.img1{
  width: 85%;
}
.hr{
  padding: 0px 90px;
}

@media screen and (max-width: 576px) {
  .loginImg{
    display: none;
  }
  #login{
    margin-top: 75px;
  }
  .hr{
    padding: 0px 20px;
  }
  .adminLog{
    margin-top: 0px;
  }
  .loginPage{
    min-height: 48.5rem;
  }
}